<html>
    <head>
        <title>INFORMATION PANEL FOR {{host}}</title>
    </head>
    <body>
        <center><h1>INFORMATION PANEL FOR {{host}}</h1></center>
        <h2>COIN BALANCES</h2>
        {% for balance in info.balances %}
        <p>{{balance.ID}}: {{balance.balance}} coins</p>
        {% endfor %}
        <h2>COIN HOLD BALANCES</h2>
        {% for balance in info.hold_balances %}
        <p>{{balance.ID}}: {{balance.hold_balance}} coins</p>
        {% endfor %}
        <h2>UNCONFIRMED TRANSACTIONS</h2>
        {% for transaction in info.unconfirmed %}
        <p>{{transaction.transaction}}</p>
        {% endfor %}
        <br>
    </body>
</html>
